.container.stat {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.chart-container {
  width: 100%;
  height: 250px;
}

.p-chart {
  padding: 40px;
}
